RewriteEngine On

# Jangan redirect jika file atau folder benar-benar ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect ke index.php hanya untuk request yang bukan file/folder
RewriteRule ^(.*)$ index.php/$1 [QSA,L]
